/* Definições de estilo para o corpo (body) da página */
body {
    font-family: Arial, sans-serif; /* Define a família de fontes a ser usada para o texto */
    background-color: #3498db; /* Define a cor de fundo do corpo em azul-turquesa */
    text-align: center; /* Centraliza o texto horizontalmente no corpo */
    color: #fff; /* Define a cor do texto como branco */
    padding: 20px; /* Adiciona um espaçamento interno de 20px nas bordas do corpo */
  }
  
  /* Estilo para o cabeçalho principal (h1) */
  h1 {
    font-size: 24px; /* Define o tamanho da fonte do cabeçalho como 24 pixels */
  }
  
  /* Estilo para os campos de entrada (input) */
  input {
    padding: 5px; /* Adiciona um preenchimento de 5px dentro do campo de entrada */
    border: 1px solid #ccc; /* Define uma borda sólida de 1px com uma cor cinza claro */
    border-radius: 3px; /* Adiciona bordas arredondadas com um raio de 3px */
    font-size: 16px; /* Define o tamanho da fonte dentro do campo de entrada como 16 pixels */
  }
  
  /* Estilo para o botão de verificação (button) */
  button {
    padding: 5px 10px; /* Adiciona preenchimento ao botão */
    background-color: #2980b9; /* Define a cor de fundo do botão como azul */
    color: #fff; /* Define a cor do texto do botão como branco */
    border: none; /* Remove a borda do botão */
    border-radius: 3px; /* Adiciona bordas arredondadas com um raio de 3px */
    cursor: pointer; /* Define o cursor do mouse como um ponteiro ao passar sobre o botão */
  }
  
  /* Estilo para o link do GitHub com a classe 'github-link' */
  a.github-link {
    color: #fff; /* Define a cor do texto do link como branco */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    margin-top: 10px; /* Adiciona um espaçamento superior de 10px ao link */
    display: block; /* Define o link como bloco para espaçamento adicional */
    font-size: 16px; /* Define o tamanho da fonte para o texto */
  }
  
  /* Estilo para o ícone do GitHub dentro do link do GitHub */
  a.github-link i.fab.fa-github {
    font-size: 14px; /* Define o tamanho do ícone do GitHub como 14px */
    margin-right: 5px; /* Adiciona um espaço à direita do ícone para separá-lo do texto */
  }
  
  /* Estilo para o link do GitHub quando o mouse passa sobre ele (hover) */
  a.github-link:hover {
    text-decoration: none; /* retira o sublinhado ao passar o mouse sobre o link */
  }
  